body {
    font-family: op-b;
    background-color: black;
    color: white;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-weight: 100;

    overflow-x: hidden !important;
    overflow-y: auto;
    min-width: 100% !important;
    max-width:100%;
    height:100%;
    min-height: 100%;
    touch-action: none;
}

html {
    height: 100%;
}

input, ul, li, a, a:hover {all:unset}

::-webkit-scrollbar {
    display: none;
}

nav {
    display:inline-block;
    background-color: #342DB5;
    width: 100%;
    height: 4em;
    margin-bottom: 1.4em;
}

#note:hover, #about:hover, #logout:hover {
    filter:brightness(75%);
    cursor:pointer;
}

#logout {
    position: absolute;
    left: 92.5%;

    display:flex;
    justify-self: flex-end;
    align-items: center;

    font-size: 1.5em;
    text-shadow: 2px 2px #333333;

    height:inherit;
}

#contents {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display:flex;
    justify-content: space-evenly;
    align-items: center;

    font-family: op-m;
    font-size: 2.25em;
    text-shadow: 2px 2px #333333;

    width: 75%;
    height:inherit;
}

#container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

#title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-size: 400%;
    text-shadow: 2px 2px #342DB5;

    width: max-content;
}

#subtitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-family: op-s;
    font-size: 200%;
    text-shadow: 2px 2px #342DB5;
    text-align: center;
    white-space: nowrap;

    margin-top: 2.25em;

    width: max-content;
}

#container-contents {

    display: flex;
    flex-direction: column;
    align-content: center;
    
    font-family: op-s;
    font-size: 100%;
    color: darkgray;
    text-align: left;

    white-space: normal;
    word-break: keep-all;
 
    margin-top: 8em;
}

#container-contents p {
    height: max-content;
    font-size: 1.5em;
}

#contents, span, .page {
    user-select: none;
}

@media only screen and (min-width: 1080px) {
    #container {
        width: 42.5em;
    }
}

@media only screen and (max-width: 1080px) {
    #title {
        font-size: 300%;
        text-overflow:ellipsis;
    }
    #subtitle {
        font-size: 150%;
    }
    #container-contents {
        margin-top: 1em;
        width: 32.5em;
        margin-top: 6em;
    }
    #container-contents p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 760px) {
    #title {
        font-size: 200%;
        text-overflow:ellipsis;
    }
    #subtitle {
        font-size: 100%;
    }
    #container-contents {
        width: 21em;
        margin-top: 4em;
    }
}

@media only screen and (max-width: 480px) {
    nav{
        height: 3em;
    }
    #logout {
        left: 90%;
        font-size: 1.25em;
    }
    #contents {
        display:flex;
        justify-content: space-around;
        font-size: 1.8em;
    }
    #title {
        font-size: 170%;
        text-overflow:ellipsis;
        text-shadow: 1px 1px #342DB5;
    }
    #subtitle {
        margin-top: 3em;
        font-size: 75%;
        text-shadow: 1px 1px #342DB5;
    }
    #container-contents {
        width: 17.5em;
        height: 100%;
        margin-top: 4em;
    }
}

@media only screen and (max-width: 360px) {
    nav{
        height: 1.5em;
    }
    #logout {
        left: 89%;
        font-size: 0.5em;
    }
    #contents {
        font-size: 1em;
    }
}

.hidden {
    display: none;
    visibility: hidden;
}